.banner {
    background-image: url(../assests/Home1.jpg);
    background-position: center;
    background-size: cover;
    padding: 190px 0 450px;
    position: relative;
    z-index: 0;
}

#img_content {
    border: solid white .1em;
}

#img_content h1 {
    font-size: 2.5rem;
}

.banner #box {
    position: absolute;
    width: 101.1%;
    top: 26em;
    z-index: 1;
}

#arrow-link {
    z-index: 2;
    position: absolute;
    top: 8.5em;

}

.banner i,
.big_cards i {
    font-size: medium;
    position: relative;
    animation: mymove 1s infinite;
    color: white;
}

/* Animation for arrow */
@keyframes mymove {
    0% {
        left: 0px;
    }

    50% {
        left: 5px;
    }

    100% {
        left: 0px;
    }
}

p a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.big_cards a:hover,
.banner a:hover,
.big_cards i:hover,
.banner i:hover {
    color: black !important;
}

h2 {
    color: #978f8f !important;
    font-family: sans-serif;
    letter-spacing: normal;
}

/*cards*/
#card_row {
    display: fex;

}

#bg-black {
    background-color: black;
}

#card_1 {
    background-image: url(../assests/Home2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 480px 0 480px;
    z-index: 0;
    position: relative;

}

#card-content {
    margin: -14.5em 0 0 10.5em;
    position: absolute;
    z-index: 1;
}



#card_2 {
    background-image: url(../assests/Home3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 480px 0 480px;


}

/* ===================
    hover zoom effect
   =================== */
#container {
    display: inline-block;
    border: 1px solid black;
    overflow: hidden;
}

#container #card_1,
#container #card_2 {
    display: block;
    transition: transform .8s;
}

#container:hover #card_1,
#container:hover #card_2 {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}



