.logos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .logo-item {
    
    align-items: center;
    margin: 10px;
  }
  
  .logo-img {
    height: 70px;
    width: 100%;
    padding: 10px;

  }
  



.fa-chevron-down {
    margin-top: 250px;
    position: absolute;
    top: 600px;
    color: #978F8F;
    font-size: large;
    left: 664px;
    font-weight: bold;
    animation: mymoves 1s infinite;
    margin-left: 240px;


}

@keyframes mymoves {
    from {
        top: 600px;
    }

    to {
        top: 590px;
    }
}
.workwear {
    margin-left: 250px;
    position: absolute;
    left: 534px;
    top: 770px;
    font-size: 26px;
    font-weight: 700;
    color: #978F8F;


}
.main {
    background-size: cover;
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
    background-position: center 122px;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
}


