.logos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .logo-item {
    
    align-items: center;
    margin: 10px;
  }
  
  .logo1-img {
    height:48px;
    width: 70%;
    padding: 10px;

  }
  



.fa-chevron-down {
    margin-top: 250px;
    position: absolute;
    top: 600px;
    color: #978F8F;
    font-size: large;
    left: 664px;
    font-weight: bold;
    animation: mymoves 1s infinite;
    margin-left: 240px;


}

@keyframes mymoves {
    from {
        top: 600px;
    }

    to {
        top: 590px;
    }
}
.workwear {
    margin-left: 250px;
    position: absolute;
    left: 534px;
    top: 770px;
    font-size: 26px;
    font-weight: 700;
    color: #978F8F;


}
.main {
    background-size: cover;
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/Enterprises-1.jpg);
    background-position: center 122px;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
}


/*cards styling*/
.menscards {
    position: relative;
    text-align: center;
  }
  
  .card-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .card-title {
    margin: 0;
  }
  .menscards:hover {
    transform: scale(0.9);
}

/*steps styling*/
.stepsbackground {
    background-color: black;
    position: relative;
    
    width: 100%;
    height: 600px;
}

.thisishow {
    color: #978F8F;
    font-weight: 700;
    margin-top: 100px;
}

.stepsimg {
    margin-left: 40px;
    padding-top: 40px;
}




.timeline {
    position: relative;
    margin-top: 70px;
    margin-left: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
}

.point {
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(223, 202, 202, 0.103);
    color: #978F8F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.point1 {
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(223, 202, 202, 0.103);
    color: #978F8F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;

}

.point::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% + 10px);
    width: 190px;
    height: 1px;
    background-color: #978F8F;
    font-weight: 100;
}

.point:first-child::before {
    display: none;
}

.point:last-child {
    margin-right: 0;
}


.stepscontent1 {
    color: #978F8F;
    font-weight: 200;
    font-size: 30px;
}

.stepscontent2 {
    color: #978F8F;
    font-weight: 200;
    font-size: 30px;
}

/*laste section */
.lastimg {
    width: 220vh;
    margin-left: -60px;
    height: 750px;
}

.enterpriselast {
    background-color: black !important;
}


