.footer {
    background-color: black;

}
.footerstart{
    margin-top: -180px;
}
.footer a {
    text-decoration: none;
    color: rgb(149, 149, 149);
}

.footer .col-2 {
    border-right: solid white .1em;
    text-align: center;
}

.footer a:hover {
    color: white;
}

.footer img{
    width: 38px;
}