.navbarfull {
  background-color: black;
  height: 150px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -10px;
}

.titlename {
  color: #ffffff;
  letter-spacing: 10px;
  padding: 15px 0;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

  
  
  .nav-link {
    color: #9e9e9e;
    font-weight: 500;
    font-size: 14px;
  }
  
  .nav-link:hover {
    color: white;
    font-weight: bold;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 991px) {
    .titlename {
      margin-left: 10px;
    }
    
    .navbarfull {
      height: auto;
    }
  
    .navbar-collapse {
      justify-content: flex-end;
    }
  
    .navbar-nav {
      margin-right: 10px;
    }
  
    .setting {
      margin-left: 10px;
    }
  
    .nav-link {
      margin-left: 10px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 576px) {
    .navbarfull {
      height: auto;
      padding: 10px;
    }
  
    .titlename {
      margin-left: 10px;
      font-size: 20px;
    }
  
    .navbar-collapse {
      justify-content: flex-end;
    }
  
  
  
    .setting {
      margin-left: 10px;
    }
  
    .nav-link {
      margin-left: 10px;
      margin-right: 0;
      font-size: 12px;
    }
  }


.icon-row {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right end */
  margin-left: 1140px; /* Add right margin of 600px */
}
/* ../Styles/Navbar.css */

.titlename {
  float: left;
  margin-right: 20px; /* Add some spacing between the logo and other navbar items */
}


.setting{
  margin-left: 1300px;
  margin-top: -40px;
  margin-bottom: 40px;

}
.shoppingCart{
  margin: -30px 0px 0px 100px;
}