.logos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .logo-item {
    
    align-items: center;
    margin: 10px;
  }
  
  .logo-img {
    height: 70px;
    width: 100%;
    padding: 10px;

  }
  
  .main {
    background-size: cover;
    background-image: url(http://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-1.jpg);
    background-position: center 122px;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
}


#text1 {
  padding-top: 250px;
  padding-bottom: 250px;
  color: #978f8f;
}
.section2{
  margin-top: 800pxpx;
}
.main2 {
  background-size: cover;
  background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-2.jpg);
  background-position: center 122px;
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.main3 {
  background-size: 100%;
  background-image: url(https://cdn.storehippo.com/s/5997cc7c4d6e8ffa20e50aae/ms.files/School-41.jpg );
  background-position: top;
  min-height: 565px !important;
  background-repeat: no-repeat;
  font-size: 30px !important;
}

.signature {
  font-family: 'Blenheim Signature', sans-serif;
  font-size: 18px;
  position: relative;
  margin: auto;
  width: 200px;
}

body {
  overflow-x: hidden;
  color: #978f8f;
}
/* ======= */
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.description{
  padding: 2.5em 40em 0 9.8em;
  color: black;
}

.select-label {
  color: white;
  background-color: black;
  width: 100px;
}

.select-input {
  width: 100px;
  flex: 1;
}

#boxsize{
  margin-top: -21px;
  height: 29px;
}

#labelquantity{
  width: 100px;
  padding: 5px;
}
#quantity{
  width: 100px;
  margin-top: -9px;
}
#sizeselect{
  padding: 5px;
  width: 100px;
}

/* #sortOrder{
  margin-left: 1560px;
} */


